#sidebarMenu {
  position: relative;
  background: #028fe7;
  min-width: 50px;
  min-height: 100vh;
  white-space: nowrap;
  transition: .4s;
}


.logo-nav{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
}

.logo-nav::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .3s;
}

.logo-nav img{
  width: 40px;
  transition: .4s;
  z-index: 10;
}

img{
  z-index: 10000;
}


.title-nav{
  color: white;
  text-align: center;
  margin: 10px 10px;
  overflow: hidden;
  width: 0px;
  transition: .5s;
}

#toggleText1{
  position: relative;
}
#toggleText1::after{
  content: "";
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  height: 1px;

  top: 110%;
}

#toggleText2{
  display: inline-block;
  transform: scale(.9);
}

#sidebarMenu .nav-link {
  display: flex; /* Cambiamos a flex para alinear el contenido */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente, ajusta si quieres alinearlo de otro modo */
  border-radius: 0;
  transition: .7s;
}

#sidebarMenu .nav-link:hover {
  background-color: green;
}

#sidebarMenu .nav-link i {
  display: inline-block;
  transform: scale(1.5);
}

#sidebarMenu .nav-link span{
  width: 0px;
  opacity: 0;
  overflow: hidden;
  transition: .3s;
}

#sidebarMenu .nav-link span {
  display: inline-block;
  transform: scale(.9);
}

#active-expand {
  display: none;
}

#active-expand:checked~#sidebarMenu .logo-nav img{
  margin: 0 15px;
  width: 120px;
}


/* MENU - DASHBOARD */

#active-expand:checked~#sidebarMenu .logo-nav::before{
  height: 50%;
}

#active-expand:checked~#sidebarMenu .nav-link {
  justify-content: flex-start; /* Cambia la alineación a la izquierda */
}

#active-expand:checked~#sidebarMenu .nav-link I{
  padding-right: 5px;
}

#active-expand:checked~#sidebarMenu .nav-link span{
  opacity: 1;
  width: 150px !important;
}

#active-expand:checked~#sidebarMenu .title-nav{
  width: 230px;

}
/* MAIN CONTENT*/

.main-content-right{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.image-background-main{
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  filter: grayscale(100%);
  opacity: .4;
  z-index: -1000;
} 

.main-content-right::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 230%;
  height: 100%;
  background-color: #017dca;
  *opacity: .4;
  z-index: -5;
  transform: rotate(-65deg) translateY(-170px);
}